* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	outline: 0;
  color:#a004fa;
}
a:hover{
  text-decoration: none;
}
img {width: 100%; height: auto;}
body {
	font-family: 'Open Sans', sans-serif;
  color:#272727;
  background-color: #f1f1f1;

}

.rounded-border{border-radius: 10px;}
.bg {background-color: #fff;}
.bg-2{background-color: #604bab;}
.btn-publish,
.btn-edit,
.btn-delete {
    display: block;
    float: right;
    border: 0;
    background: transparent;
		color: #999;
		margin-left: 10px;
}
.icon-gray i {
	color: #999;
}
.icon-gray:hover i,
.btn-publish:hover,
.btn-edit:hover,
.btn-delete:hover {
	color: #272727;
}

.btn-publish-img-profile {
	display: block;
	float: left;
	border: 0;
	background: transparent;
	color: #999;
	margin-left: 10px;
	margin-top: 115px;
}

.btn-publish-img-profile:hover {
	color: #465581;
}

.top-border {border-top: solid 1px #eee;}

/* HEADER */
.main-header{
  background: -webkit-gradient(linear, left top, right top, from(rgba(164,0,255,1)), color-stop(100%, rgba(71,91,144,0.9682247899159664)), to(rgba(156,0,255,1)));
  background: -o-linear-gradient(left, rgba(164,0,255,1) 0%, rgba(71,91,144,0.9682247899159664) 100%, rgba(156,0,255,1) 100%);
  background: linear-gradient(90deg, rgba(164,0,255,1) 0%, rgba(71,91,144,0.9682247899159664) 100%, rgba(156,0,255,1) 100%);
  color:#fff;
  box-shadow: 0px 8px 12px 0px rgba(181, 179, 179, 0.38);
  position: fixed;
    z-index: 99;
}
.main-header .form-inline,
.main-header ul li.user-logo,
.main-header ul li.user-name {
	display: none;
}
.main-header ul {
	margin: 0;
	float: right;
}
.main-header ul li {
	list-style-type: none;
	display: block;
  float: left;
}

.main-header ul li + li{
  margin-left: 30px;
}

.main-header .fas{
    padding-top:4px;
    color:#fff;
}

.main-header .navbar-brand{
    color:#fff;
}

.main-header .navbar-brand.name-mob {
  padding-top:10px;
}


.main-menu {float: left;}

.main-menu .navbar-brand{
    padding-top:10px;
}

.user-logo span{
    color:#fff;
    margin-left: 10px;
}



/* FEED */
.main{
    padding-top: 77px;
		padding-bottom: 50px;
}

.others-post article .user-info,
.others-post article .user-comment,
.others-post article .feedback-actions {
	float: left;
}
.user-info,
.user-logo,
.user-name {
	float: left;
  margin:0;
}
.user-info{
  margin-bottom:20px;
}
.user-actions {
    margin-top: 16px;
    float: right;
    width: 50%;
    font-size: 15px;
}
.user-post{
	margin-top: 20px;
}

/*.user-info a{
  width:100%;
}*/

.user-post h3{
    font-size: 18px;
    font-weight: 600;
}
.user-post .fas{
  vertical-align: middle;
  margin-right:-2px;
	font-size: 1.5em;
	margin-top: 2px;
}
.user-comment{
  font-size: 0.85rem;
}
.user-logo img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}

.btn-link{
    color: #a005fa;
    font-weight: 600;
}

.btn-link:hover,
.btn-link:focus{
    color: #505c98;
    text-decoration: none;
}
.user-logo span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 600;
    color: #a005fa;
    font-size:15px;
}

.main-header .user-logo span{
    color:#fff;
}
.border-top {
	border-top: solid 1px #ddd;
}
.feedback-actions ul {
	margin: 0;
	float: right;
}
.feedback-actions ul li {
	  list-style-type: none;
	  display: inline-block;
    font-size: 0.85rem;
    vertical-align: middle;
}

.feedback-actions .far{
  color:#9213e9;
}
.user-comment-row{
    background: #f1f1f1;
    padding: 10px 15px 10px 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    margin-left:10px;
    float: left;
    width: 96%;
}

.user-comment-row-no-arrow{
    border-top-left-radius: 10px;
    margin: 0 auto;
}

.user-comment-row,
.user-comment-row form {
    position: relative;
}

.user-comment-row p{
    margin-bottom:0;
}

.user-comment-row form textarea {
    width: 100%;
    border: 0;
    margin: 5px 0 0 0;
    border-radius: 8px;
    padding: 10px 30px 10px 10px;
}

.user-comment-row:not(.user-comment-row-no-arrow):before {
    content: '';
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f1f1f1;
    left: -15px;
    position: absolute;
    top: 0;
}

.user-comment-image {
    color: #a004fa;
    float: right;
    position: absolute;
		top: 86px;
    right: -70px;
}

.cameraimg {
	top: 10px;
	right: 7px;
}

.btn-publish {
	margin-top: 5px;
}

.user-comment-image:hover,
.user-comment-image:focus{
    color:#4e5e95;
}

.user-comment-image input[type=file] {
    width: 30px;
    position: absolute;
    top: 0;
    right: -4px;
    z-index: 2;
    opacity: 0;
}

.user-profile-image:hover,
.user-profile-image:focus{
    color:#4e5e95;
}

.user-profile-image input[type=file] {
	width: 60px;
	position: absolute;
	top: 134px;
	right: 777px;
	z-index: 2;
	opacity: 0;
}

.others-post article + article{
    margin-top:20px;
}

.others-post article{
    padding: 20px 10px;
}

.news .content-box a{
  color:#272727;
}

.news .content-box p{
  font-size: 0.85em;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #9214e9;
}

.dropdown-menu.show{
    box-shadow: 4px 3px 12px 0px rgba(181, 179, 179, 0.38);
}

.dropdown-item{
    padding: 0.5rem 1.5rem;
}
/* ASIDE */
aside {display: none;}

.user-contact ul li {
	display: block;
}

aside .fas{
  color:#604bab;
}

.mobile-sidebar .nav-link {border-radius: 10px 10px 0 0; }
.mobile-sidebar .nav-link.active {background-color:#fff; color: #a004fa;}
.mobile-sidebar .tab-content {float:left; width: 100%; border-radius: 0 0 10px 10px;}
.mobile-sidebar .tab-content ul {list-style-type: none; margin: 0; float: left; width: 100%; padding: 0;}
.mobile-sidebar .tab-content ul li {margin-bottom: 10px;}
.mobile-sidebar .tab-content ul.birthdays li,
.mobile-sidebar .tab-content p.hastags a {margin-right: 15px;}
.mobile-sidebar .tab-content .news {display: block;border: solid 1px #ddd;	color: #272727;}
.mobile-sidebar .tab-content .news h3 { font-size: 18px;  font-weight: 600;}
.mobile-sidebar .tab-content .news p {font-size: 0.85em;margin: 0;}


/* LOGIN */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form label{
    font-size:14px;
}
.form input:not([type="checkbox"]),
.form textarea{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
	height: auto;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #604bab;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus{
  background: #604bab;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #604bab;
  text-decoration: none;
}

/* CONTACT */

.contact-form {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 40px;
	margin: 0 auto 100px;
}

.card {
	border: 0;

}

.form-control {
	background-color: #f2f2f2;
	border: 0;

}

.contact-but {
	background: #604bab;
  width: 100%;
  border: 0;
	color: #FFFFFF;
  font-size: 14px;
	padding: 15px;
}

.subject {
	margin-bottom: 20px
}

.card-body {
	padding: 0
}

/* PROFILE*/
.user-post.education{
    padding: 20px 20px 10px 20px;
    font-size: 0.85rem;
}

.user-contact .far{
    color:#604bab;
}

.user-contact{
  font-size: 0.85rem;
}

.profile .header-user {
	background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header-user .user-info p{
      font-weight: 600;
      /* margin-left: 46px; */
      color: #9214e9;
      width:auto;
      margin-top: 10px;
  }

.user-info{
    padding: 20px;
    margin-bottom:0;
}

.save-img {
	color:#fff
	margin-top: 57px;
	float: right;
	width: 50%;
	font-size: 15px;
}

/* TEAMS */

/* section teams */
.border-bot {
	border-bottom: 2px solid #6f42c1;

}

/* articles users */
.title-team {
	color: #453f96
}
.users {
	list-style: none;}
.users .user-logo {
	margin-bottom: 10px}
.more {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #5a4f82;
	display: flex;
	justify-content: center;
	text-align: center;
  margin:0px auto;
  padding:3%
}

.teams {
	color: black
}

.widget-teams li {
    position: relative;
    padding: 0 10px 0 0;
    margin-right: 10px;
}
.widget-teams li:after {
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 2px;
	height: 15px;
	background: #a004fa;
}
.widget-teams li:last-child:after {
	display: none;
}

.widget-teams li:last-child {
	padding: 0;
	margin: 0;
}

/* NAV BOTTOM MOBILE */

.bg-color {
	background-color: #74bb8cc9
}
.navbar .fa-2x {
	font-size: 1.5em}
.name-mob {
	font-size: 1em;}
.name-desk {
		display: none
	}
.head-options .fa-2x {
	font-size: 1.5em
}
.head-options ul {
	margin-right: 0
}

.inbox-desk .fa-envelope {
	display: none;}

	/* ERRORES EN FORMULARIOS */
.error {
		color: red;
		text-align: left;
    margin-top: 10px;
	}

	/*efects css*/

	.hvr-grow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(0.7px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	}
	.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}

	.hvr-shadow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: box-shadow;
	  transition-property: box-shadow;
	}
	.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
	  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	}

	select {
     background: transparent;
     border-color: #bdbdbd;
		 border-radius: 4px;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
		 color: #5d5d5d;
	}


	.hvr-icon-rotate {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	.hvr-icon-rotate .hvr-icon {
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-icon-rotate:hover .hvr-icon, .hvr-icon-rotate:focus .hvr-icon, .hvr-icon-rotate:active .hvr-icon {
	  -webkit-transform: rotate(20deg);
	  transform: rotate(20deg);
	}

/*HOME*/

/*Text Area Comments*/
	.shadow-textarea textarea.form-control::placeholder {
	    font-weight: 100;
	}
	.shadow-textarea textarea.form-control {
	    padding-left: 0.8rem;
	}

	.form-control {
		font-size: 0.9rem;
		background-color: #f1f1f1;
	}

	.cameraimg2 {
		right:10px;
		top: 11px;
	}

	#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #949acabd;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #c0a2f18a;
}
#back-to-top.show {
    opacity: 1;
}
.fa-arrow-up {
	color: white;
}

.modal-content {
	padding: 15px;
	border: white;
}

header {
	position: relative;
}
